click==8.1.7
Flask~=3.0.2
importlib-metadata==7.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
prometheus-client==0.20.0
psutil==5.9.8
requests==2.31.0
Werkzeug==3.0.3
zipp==3.18.1
python-daemon
daemon
Flask-APScheduler==1.13.1
argparse==1.4.0
pymongo==4.7.2
python-redis-lock==4.0.0
redis==5.0.4
slack_sdk
pymysql
#elsaticsearch
