[Unit]
Description=Collector Service.
Wants=network.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/collector/
Environment=PATH=/opt/collector/venv/bin:$PATH
Environment=PYTHONPATH=/opt/collector/venv/lib/python3.8/site-packages:$PYTHONPATH
ExecStart=/opt/collector/venv/bin/python /opt/collector/zombikiller.py
Restart=on-failure
RestartSec=20s
PIDFile=/var/run/zombikiller.pid
StandardOutput=file:/opt/collector/zombikiller_run.log
StandardError=file:/opt/collector/zombikiller_error.log
ExecStop=

[Install]
WantedBy=multi-user.target